<%- include("header") -%>
  <div class="box" id="heading">
    <h1><%= kindOfDay %></h1>
  </div>
<div class="box">
<%    for(var i=0;i<listItems.length;i++){ %>
  <div class="item">
    <input type="checkbox">
    <p><%= listItems[i] %></p>
  </div>
<%    } %>
  <form  action="/" method="post">
    <input type="text" name="newItem" placeholder="new Item" autocomplete="off"/>
    <button type="submit" name="submit">+</button>
  </form>
</div>

<%- include("footer") -%>
